

<div id="tModal" class="modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <h4 class="modal-title">You found <span class="artNum">{{articles.length}}</span> articles.</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default close" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
  
<div class="container-fluid bg-3 text-center">    
  <div class="row articles">
    {{#each articles}}
    <div class="col-sm-3"> 
      <a href="{{link}}">
          <img src="{{image}}" style="width:100%"/>
          <p class="category">{{category}}</p>
          <h4 class="title">{{title}}</h4>
          <a class="save btn btn-default" href="/" role="button">Save</a>
      </a>
    </div>
    {{/each}}
 
  </div>
</div><br>

